<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   currencies.plist
   Currency

   Created by Jiraporn Praneet on 7/24/2560 BE.
   Copyright (c) 2560 Jiraporn Praneet. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
