<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>CNY</string>
        <string>PLN</string>
        <string>THB</string>
        <string>BGN</string>
        <string>AUD</string>
        <string>SEK</string>
        <string>ILS</string>
        <string>BRL</string>
        <string>DKK</string>
        <string>GBP</string>
        <string>RUB</string>
        <string>CHF</string>
        <string>MXN</string>
        <string>HRK</string>
        <string>RON</string>
        <string>TRY</string>
        <string>SGD</string>
        <string>EUR</string>
        <string>NOK</string>
        <string>HUF</string>
        <string>NZD</string>
        <string>MYR</string>
        <string>IDR</string>
        <string>KRW</string>
        <string>JPY</string>
        <string>INR</string>
        <string>PHP</string>
        <string>CZK</string>
        <string>HKD</string>
        <string>ZAR</string>
        <string>CAD</string>
    </array>
</plist>
